//  import bootstrap:

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
// @import "../bootstrap/scss/root";
// @import "../bootstrap/scss/reboot";
// @import "../bootstrap/scss/type";
// @import "../bootstrap/scss/images";
// @import "../bootstrap/scss/code";
// @import "../bootstrap/scss/grid";
// @import "../bootstrap/scss/tables";
// @import "../bootstrap/scss/forms";
// @import "../bootstrap/scss/buttons";
// @import "../bootstrap/scss/transitions";
// @import "../bootstrap/scss/dropdown";
// @import "../bootstrap/scss/button-group";
// @import "../bootstrap/scss/input-group";
// @import "../bootstrap/scss/custom-forms";
// @import "../bootstrap/scss/nav";
// @import "../bootstrap/scss/navbar";
// @import "../bootstrap/scss/card";
// @import "../bootstrap/scss/breadcrumb";
// @import "../bootstrap/scss/pagination";
// @import "../bootstrap/scss/badge";
// @import "../bootstrap/scss/jumbotron";
// @import "../bootstrap/scss/alert";
// @import "../bootstrap/scss/progress";
// @import "../bootstrap/scss/media";
// @import "../bootstrap/scss/list-group";
// @import "../bootstrap/scss/close";
// @import "../bootstrap/scss/modal";
// @import "../bootstrap/scss/tooltip";
// @import "../bootstrap/scss/popover";
// @import "../bootstrap/scss/carousel";
// @import "../bootstrap/scss/utilities";
// @import "../bootstrap/scss/print";

// import my styles:
@import "bem-box/headerTop";
@import "bem-box/headerSlider";
@import "bem-box/aboutUs";
@import "bem-box/details";
@import "bem-box/sectionTitle";

.container {
    max-width: 1360px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

header {
    min-height: 740px;
    background-image: url(../images/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 90px;

    @include media-breakpoint-down(sm) {
        padding: 30px 30px;
    }
}

.buttonLink {
    width: 140px;
    height: 35px;
    display: inline-block;
    border: rgb(51, 59, 70) solid 1px;
    border-radius: 20px;
    font-size: 16px;
    color: rgb(51, 59, 70);
    line-height: 0.75;
    text-align: center;
    padding: 10px;

    &:hover {
        opacity: 0.6;
        color: rgb(51, 59, 70);
        text-decoration: none;
    }

}

.buttonLinkAbout {
    margin-top: 30px;
}