.b-headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-headerTop__logo {
  width: 115px;
  height: 20px;
}

.b-headerTop__menuItems {
  font-size: 16px;
  color: white;
  line-height: 0.75;
  display: inline-block;
  border: solid 1px transparent;
  text-align: center;
  padding: 8px 10px;
}

.b-headerTop__menuItems:hover {
  border-color: #fff;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

.b-headerSlider__title {
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 220px 0 44px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .b-headerSlider__title {
    margin: 120px 0 44px;
  }
}

.b-headerSlider__desc {
  font-size: 16px;
  color: white;
  line-height: 1.75;
  letter-spacing: 1px;
  margin-bottom: 200px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .b-headerSlider__desc {
    margin-bottom: 50px;
  }
}

.b-headerSlider__hover {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
}

.b-headerSlider__hover:hover {
  opacity: 0.6;
}

.b-aboutUs {
  min-height: 500px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  margin: 0;
}

.b-aboutUs__text {
  margin-right: 100px;
}

@media (max-width: 767.98px) {
  .b-aboutUs__text {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .b-aboutUs__img {
    display: block;
    margin: 0 auto;
  }
}

.b-details {
  min-height: 600px;
  background-color: #f3f3f3;
  padding: 80px 0;
  margin: 0;
}

.b-details__titleBox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.b-details__descBox {
  margin: 0;
  padding: 0 168px;
}

@media (max-width: 991.98px) {
  .b-details__descBox {
    padding: 0 30px;
  }
}

.b-details__descTitle {
  font-size: 20px;
  color: #464646;
  line-height: 6.25;
}

.b-details__desc {
  font-size: 14px;
  color: #81868e;
  line-height: 1.786;
  text-align: justify;
}

.b-sectionTitle {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  margin-bottom: 40px;
}

.b-sectionTitle__subtitle {
  font-size: 14px;
  color: #81868e;
  line-height: 1.786;
}

.b-iconsMenu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 20px;
}

.b-iconsMenu__item {
  width: 50px;
  height: 50px;
  background-color: #81868e;
  border-radius: 50%;
  padding: 0;
}

.b-iconsMenu__item:not(:last-child) {
  margin-right: 27px;
}

.b-iconsMenu__link {
  display: block;
  height: 100%;
}

.b-iconsMenu__item_active {
  background-color: #19bd9a;
}

.b-iconsMenu_vertical {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767.98px) {
  .b-iconsMenu_vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.b-iconsMenu__item_vertical:not(:last-child) {
  margin-bottom: 15px;
}

.progress {
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #0e2425;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #21be9d;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
  font-weight: 300;
}

.progress .progress-value .percent {
  font-size: 25px;
  color: #81868e;
  line-height: 1;
}

.progressBox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.progressBox .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.progress-desc {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #81868e;
  line-height: 1.563;
  text-align: center;
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
  -webkit-animation: loading-1 1.5s linear forwards;
          animation: loading-1 1.5s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  -webkit-animation: loading-2 1.5s linear forwards;
          animation: loading-2 1.5s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  -webkit-animation: loading-3 1.5s linear forwards;
          animation: loading-3 1.5s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  -webkit-animation: loading-4 1.5s linear forwards;
          animation: loading-4 1.5s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
  -webkit-animation: loading-1 1.5s linear forwards 1.5s;
          animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
  -webkit-animation: loading-2 1.5s linear forwards 1.5s;
          animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
  -webkit-animation: loading-3 1.5s linear forwards 1.5s;
          animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
  -webkit-animation: loading-4 1.5s linear forwards 1.5s;
          animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards 1.5s;
          animation: loading-5 1.5s linear forwards 1.5s;
}

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}

@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}

@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

.progress {
  margin-bottom: 1em;
}

.b-services {
  padding: 70px 0;
  margin: 0;
}

.b-services__asideContent {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

@media (max-width: 991.98px) {
  .b-services__asideContent {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-services__desc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.b-services__descTitle {
  font-size: 20px;
  color: #464646;
  margin-bottom: 20px;
}

.b-services__descText {
  font-size: 16px;
  color: #81868e;
  line-height: 1.75;
  text-align: justify;
}

.b-impressed {
  min-height: 350px;
  background-image: url(../../images/impressed-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

@media (max-width: 1199.98px) {
  .b-impressed {
    padding: 20px;
  }
}

.b-impressed__textBox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1199.98px) {
  .b-impressed__textBox {
    margin-bottom: 20px;
  }
}

.b-impressed__title {
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  color: #f3f3f3;
  text-transform: uppercase;
  line-height: 3;
  letter-spacing: 2px;
}

.b-impressed__quote {
  font-size: 16px;
  color: #b2b3b3;
  line-height: 1.75;
  margin-bottom: 25px;
}

.b-impressed__sign, .b-impressed__signDesc {
  font-size: 14px;
  color: #b2b3b3;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.b-impressed__sign {
  font-weight: bold;
}

.b-impressed__signDesc_green {
  color: #1d7a64;
}

@media (min-width: 1200px) {
  .b-impressed__imgBox {
    position: relative;
  }
}

.b-impressed__img {
  display: block;
}

@media (min-width: 1200px) {
  .b-impressed__img {
    position: absolute;
    top: -40px;
  }
}

@media (max-width: 1199.98px) {
  .b-impressed__img {
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .b-impressed__img {
    width: 100%;
  }
}

.b-portfolio {
  background-color: #f3f3f3;
  padding: 70px 120px;
}

.b-portfolio__nav {
  text-align: center;
  margin: 30px 0;
}

.b-portfolio__navItems {
  font-size: 16px;
  color: #464646;
  line-height: 2;
}

.b-portfolio__navItems:not(:last-child) {
  margin-right: 15px;
}

.b-portfolio__navItems:hover {
  border-bottom: 1px solid #19bd9a;
  text-decoration: none;
  color: #464646;
}

.b-portfolio__iconsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.b-portfolio__iconLike {
  width: 30px;
  height: 30px;
  background-color: #000;
  background-image: url(../../images/iconLike.png);
  background-repeat: no-repeat;
  background-position: center;
}

.b-portfolio__iconLike:hover {
  background-color: #19bd9a;
}

.b-portfolio__iconLink {
  width: 30px;
  height: 30px;
  background-color: #000;
  background-image: url(../../images/icon-link.png);
  background-repeat: no-repeat;
  background-position: center;
}

.b-portfolio__iconLink:hover {
  background-color: #19bd9a;
}

.b-portfolio__imgBox {
  margin: 0;
  min-height: 950px;
}

.b-portfolio__col1, .b-portfolio__col2, .b-portfolio__col3, .b-portfolio__col4 {
  padding-left: 0;
}

.b-portfolio__col1 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 15px;
  -ms-grid-rows: 40% 40% 20%;
      grid-template-rows: 40% 40% 20%;
}

.b-portfolio__col2 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 15px;
  -ms-grid-rows: 20% 40% 40%;
      grid-template-rows: 20% 40% 40%;
}

.b-portfolio__col3 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 15px;
  -ms-grid-rows: 30% 40% 30%;
      grid-template-rows: 30% 40% 30%;
}

.b-portfolio__col4 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 15px;
  -ms-grid-rows: 40% 25% 35%;
      grid-template-rows: 40% 25% 35%;
}

.b-portfolio__img1-1 {
  background-image: url(../../images/portfolio1-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img1-2 {
  background-image: url(../../images/portfolio1-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img1-3 {
  background-image: url(../../images/portfolio1-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img1-4 {
  background-image: url(../../images/portfolio1-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img2-1 {
  background-image: url(../../images/portfolio2-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img2-2 {
  background-image: url(../../images/portfolio2-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img2-3 {
  background-image: url(../../images/portfolio2-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img2-4 {
  background-image: url(../../images/portfolio2-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img3-1 {
  background-image: url(../../images/portfolio3-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img3-2 {
  background-image: url(../../images/portfolio3-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img3-3 {
  background-image: url(../../images/portfolio3-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img3-4 {
  background-image: url(../../images/portfolio3-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__textUp {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  background-color: #000;
  opacity: 0;
}

.b-portfolio__textUp:hover {
  opacity: 0.8;
}

.b-portfolio__imgLink {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #19bd9a;
  line-height: 2;
}

.b-portfolio__imgLink:hover {
  border-bottom: 1px solid #19bd9a;
  color: #19bd9a;
  text-decoration: none;
}

.b-portfolio__imgDesc {
  font-size: 12px;
  color: #b2b3b3;
  line-height: 1.667;
}

.container {
  max-width: 1360px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  min-height: 740px;
  background-image: url(../images/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 90px;
}

@media (max-width: 767.98px) {
  header {
    padding: 30px 30px;
    min-height: 400px;
  }
}

.buttonLink {
  width: 140px;
  height: 35px;
  display: inline-block;
  border: #333b46 solid 1px;
  border-radius: 20px;
  font-size: 16px;
  color: #333b46;
  line-height: 0.75;
  text-align: center;
  padding: 10px;
}

.buttonLink:hover {
  opacity: 0.6;
  color: #333b46;
  text-decoration: none;
}

.buttonLinkAbout {
  margin-top: 30px;
}

.sectionTitleCenter,
.sectionSubtitleCenter {
  text-align: center;
}

.iconHeart {
  background-image: url(../images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconMouse {
  background-image: url(../images/mouse.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconMouse:hover {
  background-color: #19bd9a;
}

.iconLight {
  background-image: url(../images/light.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconLight:hover {
  background-color: #19bd9a;
}

.iconTools {
  background-image: url(../images/icon-tools.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconTools:hover {
  background-color: #19bd9a;
}

.iconRoller {
  background-image: url(../images/icon-roller.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconJoystick {
  background-image: url(../images/icon-joystick.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconJoystick:hover {
  background-color: #19bd9a;
}

.iconCable {
  background-image: url(../images/icon-cable.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconCable:hover {
  background-color: #19bd9a;
}
/*# sourceMappingURL=style.css.map */