.b-headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-headerTop__logo {
  width: 115px;
  height: 20px;
}

@media (max-width: 300px) {
  .b-headerTop__logo {
    margin-bottom: 15px;
  }
}

.b-headerTop__menuItems {
  font-size: 16px;
  color: white;
  line-height: 0.75;
  display: inline-block;
  border: solid 1px transparent;
  text-align: center;
  padding: 8px 10px;
}

.b-headerTop__menuItems:hover {
  border-color: #fff;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

.b-headerSlider__title {
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 220px 0 44px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .b-headerSlider__title {
    margin: 120px 0 44px;
  }
}

.b-headerSlider__desc {
  font-size: 16px;
  color: white;
  line-height: 1.75;
  letter-spacing: 1px;
  margin-bottom: 200px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .b-headerSlider__desc {
    margin-bottom: 50px;
  }
}

.b-headerSlider__hover {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
}

.b-headerSlider__hover:hover {
  opacity: 0.6;
}

.b-aboutUs {
  min-height: 500px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  margin: 0;
}

.b-aboutUs__text {
  margin-right: 100px;
}

@media (max-width: 767.98px) {
  .b-aboutUs__text {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .b-aboutUs__img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 300px) {
  .b-aboutUs__img {
    width: 100%;
  }
}

.b-details {
  min-height: 600px;
  background-color: #f3f3f3;
  padding: 80px 0;
  margin: 0;
}

.b-details__titleBox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.b-details__descBox {
  margin: 0;
  padding: 0 168px;
}

@media (max-width: 991.98px) {
  .b-details__descBox {
    padding: 0 30px;
  }
}

.b-details__descTitle {
  font-size: 20px;
  color: #464646;
  line-height: 6.25;
}

.b-details__desc {
  font-size: 14px;
  color: #81868e;
  line-height: 1.786;
  text-align: justify;
}

.b-sectionTitle {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 40px;
}

.b-sectionTitle__subtitle {
  font-size: 14px;
  color: #81868e;
  line-height: 1.786;
}

.b-iconsMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 20px;
}

@media (max-width: 300px) {
  .b-iconsMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-iconsMenu__item {
  width: 50px;
  height: 50px;
  background-color: #81868e;
  border-radius: 50%;
  padding: 0;
}

.b-iconsMenu__item:not(:last-child) {
  margin-right: 27px;
}

@media (max-width: 300px) {
  .b-iconsMenu__item:not(:last-child) {
    margin: 0 0 15px 0;
  }
}

.b-iconsMenu__link {
  display: block;
  height: 100%;
}

.b-iconsMenu__item_active {
  background-color: #19bd9a;
}

.b-iconsMenu_vertical {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767.98px) {
  .b-iconsMenu_vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 300px) {
  .b-iconsMenu_vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
}

.b-iconsMenu__item_vertical:not(:last-child) {
  margin-bottom: 15px;
}

.progress-services {
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.progress-services:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #48494a;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-services > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress-services .progress-left-services {
  left: 0;
}

.progress-services .progress-bar-services {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #21be9d;
}

.progress-services .progress-left-services .progress-bar-services {
  left: 100%;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress-services .progress-right-services {
  right: 0;
}

.progress-services .progress-right-services .progress-bar-services {
  left: -100%;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress-services .progress-value-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
  font-weight: 300;
}

.progress-services .progress-value-services .percent {
  font-size: 25px;
  color: #81868e;
  line-height: 1;
}

.progressBox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.progressBox .row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}

.progress-desc {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #81868e;
  line-height: 1.563;
  text-align: center;
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar.start {
  -webkit-animation: loading-1 1.5s linear forwards;
          animation: loading-1 1.5s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar.start {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar.start {
  -webkit-animation: loading-2 1.5s linear forwards;
          animation: loading-2 1.5s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar.start {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar.start {
  -webkit-animation: loading-3 1.5s linear forwards;
          animation: loading-3 1.5s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar.start {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar.start {
  -webkit-animation: loading-4 1.5s linear forwards;
          animation: loading-4 1.5s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar.start {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar.start {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar.start {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar.start {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar.start {
  -webkit-animation: loading-1 1.5s linear forwards 1.5s;
          animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar.start {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar.start {
  -webkit-animation: loading-2 1.5s linear forwards 1.5s;
          animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar.start {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar.start {
  -webkit-animation: loading-3 1.5s linear forwards 1.5s;
          animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar.start {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar.start {
  -webkit-animation: loading-4 1.5s linear forwards 1.5s;
          animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar.start {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar.start {
  -webkit-animation: loading-5 1.5s linear forwards 1.5s;
          animation: loading-5 1.5s linear forwards 1.5s;
}

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}

@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}

@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

.progress {
  margin-bottom: 1em;
}

.b-services {
  padding: 70px 0;
  margin: 0;
}

.b-services__asideContent {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

@media (max-width: 991.98px) {
  .b-services__asideContent {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-services__desc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.b-services__descTitle {
  font-size: 20px;
  color: #464646;
  margin-bottom: 20px;
}

.b-services__descText {
  font-size: 16px;
  color: #81868e;
  line-height: 1.75;
  text-align: justify;
}

.b-impressed {
  min-height: 350px;
  background-image: url(/images/impressed-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

@media (max-width: 1199.98px) {
  .b-impressed {
    padding: 20px;
  }
}

.b-impressed__textBox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1199.98px) {
  .b-impressed__textBox {
    margin-bottom: 20px;
  }
}

.b-impressed__title {
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  color: #f3f3f3;
  text-transform: uppercase;
  line-height: 3;
  letter-spacing: 2px;
}

.b-impressed__quote {
  font-size: 16px;
  color: #b2b3b3;
  line-height: 1.75;
  margin-bottom: 25px;
}

.b-impressed__sign, .b-impressed__signDesc {
  font-size: 14px;
  color: #b2b3b3;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.b-impressed__sign {
  font-weight: bold;
}

.b-impressed__signDesc_green {
  color: #1d7a64;
}

@media (min-width: 1200px) {
  .b-impressed__imgBox {
    position: relative;
  }
}

.b-impressed__img {
  display: block;
}

@media (min-width: 1200px) {
  .b-impressed__img {
    position: absolute;
    top: -40px;
  }
}

@media (max-width: 1199.98px) {
  .b-impressed__img {
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .b-impressed__img {
    width: 100%;
  }
}

.b-portfolio {
  background-color: #f3f3f3;
  padding: 70px 120px;
}

@media (max-width: 991.98px) {
  .b-portfolio {
    padding: 50px;
  }
}

@media (max-width: 300px) {
  .b-portfolio {
    padding: 20px 10px;
  }
}

.b-portfolio__nav {
  text-align: center;
  margin: 50px 0;
}

.b-portfolio__navItems {
  font-size: 16px;
  color: #464646;
  line-height: 2;
}

.b-portfolio__navItems:not(:last-child) {
  margin-right: 15px;
}

.b-portfolio__navItems:hover {
  border-bottom: 1px solid #19bd9a;
  text-decoration: none;
  color: #464646;
}

.b-portfolio__dropdownMenu {
  text-align: right;
  margin: 50px 5px;
}

@media (max-width: 300px) {
  .b-portfolio__dropdownMenu {
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }
}

.b-portfolio__imgBox {
  margin: 0;
  min-height: 950px;
}

.b-portfolio__col1, .b-portfolio__col2, .b-portfolio__col3, .b-portfolio__col4 {
  padding: 0 5px;
  margin-bottom: 10px;
}

.b-portfolio__col1 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-rows: 2fr 2fr 1fr;
      grid-template-rows: 2fr 2fr 1fr;
}

.b-portfolio__col2 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-rows: 1fr 2fr 2fr;
      grid-template-rows: 1fr 2fr 2fr;
}

.b-portfolio__col3 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-rows: 1fr 1.25fr 1fr;
      grid-template-rows: 1fr 1.25fr 1fr;
}

.b-portfolio__col4 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-rows: 1.6fr 1fr 1.4fr;
      grid-template-rows: 1.6fr 1fr 1.4fr;
}

.b-portfolio__img1-1 {
  background-image: url(/images/portfolio1-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img1-2 {
  background-image: url(/images/portfolio1-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img1-3 {
  background-image: url(/images/portfolio1-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img1-4 {
  background-image: url(/images/portfolio1-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img2-1 {
  background-image: url(/images/portfolio2-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img2-2 {
  background-image: url(/images/portfolio2-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img2-3 {
  background-image: url(/images/portfolio2-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img2-4 {
  background-image: url(/images/portfolio2-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img3-1 {
  background-image: url(/images/portfolio3-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img3-2 {
  background-image: url(/images/portfolio3-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img3-3 {
  background-image: url(/images/portfolio3-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__img3-4 {
  background-image: url(/images/portfolio3-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-portfolio__textUp {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.b-portfolio__textUp:hover {
  opacity: 1;
}

.b-portfolio__iconsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.b-portfolio__iconLike {
  width: 30px;
  height: 30px;
  background-color: #000;
  background-image: url(/images/iconLike.png);
  background-repeat: no-repeat;
  background-position: center;
}

.b-portfolio__iconLike:hover {
  background-color: #19bd9a;
}

.b-portfolio__iconLink {
  width: 30px;
  height: 30px;
  background-color: #000;
  background-image: url(/images/icon-link.png);
  background-repeat: no-repeat;
  background-position: center;
}

.b-portfolio__iconLink:hover {
  background-color: #19bd9a;
}

.b-portfolio__imgLink {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #19bd9a;
  line-height: 2;
}

.b-portfolio__imgLink:hover {
  border-bottom: 1px solid #19bd9a;
  color: #19bd9a;
  text-decoration: none;
}

.b-portfolio__imgLink_mobile {
  font-size: 20px;
  color: #f3f3f3;
}

.b-portfolio__imgLink_mobile:hover {
  color: #19bd9a;
  text-decoration: none;
}

.b-portfolio__imgDesc {
  font-size: 12px;
  color: #b2b3b3;
  line-height: 1.667;
}

.b-team {
  min-height: 770px;
  background-color: #fff;
}

.b-team__title {
  padding: 50px 0;
}

.b-team__carousel {
  min-height: 430px;
}

.b-team__fotoNameBox {
  text-align: right;
  border-right: 3px solid #19bd9a;
  padding-right: 15px;
}

.b-team__foto {
  width: 285px;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .b-team__foto {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .b-team__fotoBox {
    margin-bottom: 20px;
  }
}

.b-team__carouselItems {
  padding: 60px 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (max-width: 991.98px) {
  .b-team__carouselItems {
    padding: 60px 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.b-team__progressTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-team__fotoName {
  font-size: 20px;
  color: #464646;
}

.b-team__fotoProf {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  color: #48494a;
  text-transform: uppercase;
}

.b-team__fotoDesc {
  font-size: 14px;
  color: #81868e;
  line-height: 1.786;
  text-align: justify;
}

.b-team__progressFirst, .b-team__progressSecond, .b-team__progressThird {
  height: 5px;
  background-color: #f3f3f3;
}

.b-team__progressBar {
  background-color: #19bd9a;
}

.b-team__progressText {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #48494a;
  text-transform: uppercase;
  line-height: 1.563;
}

.b-reviews {
  min-height: 650px;
  background-color: #f3f3f3;
  padding: 80px 80px 50px;
}

@media (max-width: 767.98px) {
  .b-reviews {
    padding: 50px 20px;
  }
}

.b-reviews__carousel {
  background-color: #fff;
  margin-top: 30px;
}

.b-reviews__carouselItem {
  margin: 0;
  min-height: 320px;
  padding: 50px 65px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767.98px) {
  .b-reviews__carouselItem {
    padding: 50px 20px;
  }
}

.b-reviews__imgBox {
  padding: 0;
}

@media (max-width: 991.98px) {
  .b-reviews__imgBox {
    margin-bottom: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 300px) {
  .b-reviews__imgBox {
    padding: 0;
  }
}

.b-reviews__img {
  width: auto;
  height: 130px;
}

@media (max-width: 767.98px) {
  .b-reviews__img {
    width: auto;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 300px) {
  .b-reviews__img {
    width: 100%;
  }
}

.b-reviews__reviewText {
  font-size: 16px;
  color: #81868e;
  line-height: 1.75;
  text-align: justify;
}

.b-reviews__reviewName {
  font-size: 16px;
  color: #19bd9a;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 5px;
}

.b-reviews__reviewProf {
  font-size: 14px;
  color: #464646;
  line-height: 1.429;
}

.b-price {
  background-color: #e2dfdf;
  min-height: 600px;
  padding: 50px;
}

.b-price__blockTitle {
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: inline-block;
  background-color: #19bd9a;
  width: 100%;
  min-height: 60px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.b-price__blockPrice {
  font-size: 50px;
  font-family: "Source Sans Pro", sans-serif;
  color: #1fbba6;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.b-price__blockDesc {
  font-size: 20px;
  color: #81868e;
  text-align: center;
}

.b-price__blockWrap {
  margin: 50px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .b-price__blockWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-price__hoverList {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.b-price__hoverItems {
  font-size: 14px;
  color: #81868e;
  line-height: 2.143;
}

.b-price__hoverButton {
  height: 60px;
  background-color: #1fbba6;
}

.b-price__hoverLink {
  font-size: 16px;
  color: white;
  line-height: 0.75;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-price__hoverLink:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.b-animationBox {
  padding: 0;
  min-height: 290px;
  width: 200px;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.b-animationBox:not(:last-child) {
  margin-right: 60px;
}

@media (max-width: 767.98px) {
  .b-animationBox:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .b-animationBox {
    max-width: 300px;
    width: 100%;
  }
}

.b-animationBox__front {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.b-animationBox:hover .b-animationBox__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  visibility: hidden;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.b-animationBox__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.b-animationBox:hover .b-animationBox__back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  visibility: visible;
}

.b-subscribe {
  min-height: 370px;
  background-image: url(/images/subscribe-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.b-subscribe__title {
  color: #fff;
}

.b-subscribe__subTitle {
  color: #71767d;
}

.b-subscribe__form {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-subscribe__email {
  background-color: transparent;
  font-size: 14px;
  color: #cfd3d4;
  height: 40px;
}

.b-subscribe__submitBtn {
  height: 40px;
  background-color: #19bd9a;
  border-color: #19bd9a;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.b-subscribe__submitBtn:hover {
  background-color: #19bd9a;
  border-color: #19bd9a;
  opacity: 0.7;
}

@media (max-width: 767.98px) {
  .b-subscribe__submitBtn {
    max-width: 150px;
  }
}

.b-contact {
  min-height: 600px;
  background-color: #f3f3f3;
  padding: 80px 0;
}

.b-contact__wrap {
  margin: 60px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .b-contact__wrap {
    padding: 0 15px;
  }
}

.b-contact__emailImg {
  background-image: url(/images/contact-email-bg.png);
}

.b-contact__officeImg {
  background-image: url(/images/contact-office-bg.png);
}

.b-contact__phoneImg {
  background-image: url(/images/contact-phone-bg.png);
}

.b-contact__emailImg, .b-contact__officeImg, .b-contact__phoneImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 140px;
}

.b-contact__imgUp {
  height: 100%;
}

.b-contact__link {
  color: #fff;
  opacity: 0.7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-contact__link:hover {
  color: #19bd9a;
  opacity: 0.8;
  text-decoration: none;
}

.b-contact__textBox {
  height: 120px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-contact__textTitle {
  font-size: 16px;
  color: #464646;
  text-transform: uppercase;
  line-height: 1.25;
}

.b-contact__textSub {
  font-size: 14px;
  color: #81868e;
  text-transform: uppercase;
  line-height: 1.429;
  margin-bottom: 0;
  text-align: center;
}

.b-contact__items {
  padding: 0;
}

.b-contact__items:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 767.98px) {
  .b-contact__items:not(:last-child) {
    margin: 0 0 20px;
  }
}

.b-submit {
  min-height: 550px;
  background-color: #fff;
  padding: 80px 150px;
}

@media (max-width: 767.98px) {
  .b-submit {
    padding: 80px 20px;
  }
}

.b-submit__formGroup {
  padding: 0;
  margin: 0;
}

@media (max-width: 991.98px) {
  .b-submit__formGroup:not(:last-child) {
    margin-bottom: 30px;
  }
}

.b-submit__form {
  border-color: #d8dce0;
  font-size: 14px;
  color: #2c2b2b;
  height: 50px;
}

.b-submit__textarea {
  border-color: #d8dce0;
  resize: none;
  margin-bottom: 50px;
}

.b-submit__btn {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  background-color: #19bd9a;
  border-color: #19bd9a;
  width: 100%;
  height: 45px;
}

.b-submit__btn:hover {
  background-color: #19bd9a;
  border-color: #19bd9a;
  opacity: 0.7;
}

.b-submit__formWrap {
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.b-map {
  height: 500px;
}

.b-map:hover .b-map__textUpBox {
  display: none;
}

.b-map__google {
  width: 100%;
  height: 100%;
}

.b-map__wrap {
  height: inherit;
  position: relative;
}

.b-map__textUpBox {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.b-map__textUp {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin: 0 15px 0 0;
  text-align: center;
}

.b-footer {
  min-height: 285px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-footer__imgWrap {
  margin-bottom: 20px;
}

.b-footer__copy {
  font-size: 14px;
  color: #81868e;
  line-height: 1.786;
  text-align: center;
  margin-bottom: 20px;
}

.b-footer__link {
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.b-footer__link:not(:last-child) {
  margin-right: 15px;
}

.b-footer__iconFacebook {
  background-color: #3b5998;
}

.b-footer__iconTwitter {
  background-color: #26a6d1;
}

.b-footer__iconLinkedin {
  background-color: #0e76a8;
}

.b-footer__iconInstagram {
  background-color: #3f729b;
}

.b-footer__iconVimeo {
  background-color: #86c9ef;
}

.b-footer__iconFacebook:hover, .b-footer__iconInstagram:hover, .b-footer__iconLinkedin:hover, .b-footer__iconTwitter:hover, .b-footer__iconVimeo:hover {
  color: #fff;
  background-color: #19bd9a;
}

.b-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.b-footer__signature {
  font-size: 20px;
  color: #000;
}

.b-footer__signature:hover {
  text-decoration: none;
  color: #19bd9a;
}

.container {
  max-width: 1150px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  min-height: 740px;
  background-image: url(/images/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 90px;
}

@media (max-width: 767.98px) {
  header {
    padding: 30px 30px;
    min-height: 400px;
  }
}

.buttonLink {
  width: 140px;
  height: 35px;
  display: inline-block;
  border: #333b46 solid 1px;
  border-radius: 20px;
  font-size: 16px;
  color: #333b46;
  line-height: 0.75;
  text-align: center;
  padding: 11px;
}

.buttonLink:hover {
  opacity: 0.6;
  color: #333b46;
  text-decoration: none;
}

.buttonLinkAbout {
  margin-top: 30px;
}

.buttonFooterSection {
  border: #fff solid 1px;
  color: #fff;
}

.sectionTitleCenter,
.sectionSubtitleCenter {
  text-align: center;
}

.iconHeart {
  background-image: url(/images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconMouse {
  background-image: url(/images/mouse.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconMouse:hover {
  background-color: #19bd9a;
}

.iconLight {
  background-image: url(/images/light.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconLight:hover {
  background-color: #19bd9a;
}

.iconTools {
  background-image: url(/images/icon-tools.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconTools:hover {
  background-color: #19bd9a;
}

.iconRoller {
  background-image: url(/images/icon-roller.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconJoystick {
  background-image: url(/images/icon-joystick.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconJoystick:hover {
  background-color: #19bd9a;
}

.iconCable {
  background-image: url(/images/icon-cable.png);
  background-repeat: no-repeat;
  background-position: center;
}

.iconCable:hover {
  background-color: #19bd9a;
}

.footerSection {
  min-height: 200px;
  background-image: url(/images/portfolio-start-bg.png);
  background-size: cover;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
}

.footerSectionDesc {
  font-size: 20px;
  color: white;
  line-height: 1.25;
}

.footerSectionTeam {
  margin-top: 0;
  background-image: url(/images/team-footer-bg.png);
}

.carousel-control-next-icon {
  background-image: url(/images/chevron-right-solid.svg);
}

.carousel-control-prev-icon {
  background-image: url(/images/chevron-left-solid.svg);
}
/*# sourceMappingURL=style.css.map */