.b-headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-headerTop__logo {
  width: 115px;
  height: 20px;
}

.b-headerTop__menuItems {
  font-size: 16px;
  color: white;
  line-height: 0.75;
  display: inline-block;
  border: solid 1px transparent;
  text-align: center;
  padding: 8px 10px;
}

.b-headerTop__menuItems:hover {
  border-color: #fff;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

.b-headerSlider__title {
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 220px 0 44px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .b-headerSlider__title {
    margin: 120px 0 44px;
  }
}

.b-headerSlider__desc {
  font-size: 16px;
  color: white;
  line-height: 1.75;
  letter-spacing: 1px;
  margin-bottom: 200px;
  text-align: center;
}

.b-headerSlider__hover {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
}

.b-headerSlider__hover:hover {
  opacity: 0.6;
}

.b-aboutUs {
  min-height: 500px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  margin: 0;
}

.b-aboutUs__text {
  margin-right: 100px;
}

@media (max-width: 767.98px) {
  .b-aboutUs__text {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .b-aboutUs__img {
    display: block;
    margin: 0 auto;
  }
}

.b-details {
  min-height: 600px;
  background-color: #f3f3f3;
  padding: 80px 0;
  margin: 0;
}

.b-details__titleBox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.b-details__iconsMenu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 20px;
}

.b-details__icon {
  width: 50px;
  height: 50px;
  background-color: #81868e;
  border-radius: 50%;
  padding: 0;
}

.b-details__icon:not(:last-child) {
  margin-right: 27px;
}

.b-details__iconLink {
  display: block;
  height: 100%;
}

.b-details__icon_heart {
  background-image: url(../../images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.b-details__icon_active {
  background-color: #19bd9a;
}

.b-details__icon_mouse {
  background-image: url(../../images/mouse.png);
  background-repeat: no-repeat;
  background-position: center;
}

.b-details__icon_mouse:hover {
  background-color: #19bd9a;
}

.b-details__icon_light {
  background-image: url(../../images/light.png);
  background-repeat: no-repeat;
  background-position: center;
}

.b-details__icon_light:hover {
  background-color: #19bd9a;
}

.b-details__descBox {
  margin: 0;
  padding: 0 168px;
}

@media (max-width: 991.98px) {
  .b-details__descBox {
    padding: 0 30px;
  }
}

.b-details__descTitle {
  font-size: 20px;
  color: #464646;
  line-height: 6.25;
}

.b-details__desc {
  font-size: 14px;
  color: #81868e;
  line-height: 1.786;
  text-align: justify;
}

.b-sectionTitle {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  margin-bottom: 40px;
}

.b-sectionTitle__subtitle {
  font-size: 14px;
  color: #81868e;
  line-height: 1.786;
}

.b-sectionTitle_details, .b-sectionTitle__subtitle_details {
  text-align: center;
}

.container {
  max-width: 1360px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  min-height: 740px;
  background-image: url(../images/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 90px;
}

@media (max-width: 767.98px) {
  header {
    padding: 30px 30px;
  }
}

.buttonLink {
  width: 140px;
  height: 35px;
  display: inline-block;
  border: #333b46 solid 1px;
  border-radius: 20px;
  font-size: 16px;
  color: #333b46;
  line-height: 0.75;
  text-align: center;
  padding: 10px;
}

.buttonLink:hover {
  opacity: 0.6;
  color: #333b46;
  text-decoration: none;
}

.buttonLinkAbout {
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */