//  import bootstrap:
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// import my styles:
@import "bem-box/headerTop";
@import "bem-box/headerSlider";
@import "bem-box/aboutUs";
@import "bem-box/details";
@import "bem-box/sectionTitle";
@import "bem-box/iconsMenu";
@import "progressBarServices";
@import "bem-box/services";
@import "bem-box/impressed";
@import "bem-box/portfolio";
@import "bem-box/team";
@import "bem-box/testimonials";
@import "bem-box/price";
@import "bem-box/animationPrice";
@import "bem-box/subscribe";
@import "bem-box/contact";
@import "bem-box/submit";
@import "bem-box/map";
@import "bem-box/footer";

.container {
    max-width: 1360px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

header {
    min-height: 740px;
    background-image: url(../images/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 90px;

    @include media-breakpoint-down(sm) {
        padding: 30px 30px;
        min-height: 400px;
    }
}

.buttonLink {
    width: 140px;
    height: 35px;
    display: inline-block;
    border: rgb(51, 59, 70) solid 1px;
    border-radius: 20px;
    font-size: 16px;
    color: rgb(51, 59, 70);
    line-height: 0.75;
    text-align: center;
    padding: 12px;

    &:hover {
        opacity: 0.6;
        color: rgb(51, 59, 70);
        text-decoration: none;
    }

}

.buttonLinkAbout {
    margin-top: 30px;
}

.buttonFooterSection {
    border: #fff solid 1px;
    color: #fff;
}

.sectionTitleCenter,
.sectionSubtitleCenter {
    text-align: center;
}

.iconHeart {
    background-image: url(/images/heart.png);
    background-repeat: no-repeat;
    background-position: center;

}

.iconMouse {
    background-image: url(/images/mouse.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #19bd9a;
    }

}

.iconLight {
    background-image: url(/images/light.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #19bd9a;
    }

}

.iconTools {
    background-image: url(/images/icon-tools.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #19bd9a;
    }
}

.iconRoller {
    background-image: url(/images/icon-roller.png);
    background-repeat: no-repeat;
    background-position: center;
}

.iconJoystick {
    background-image: url(/images/icon-joystick.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #19bd9a;
    }
}

.iconCable {
    background-image: url(/images/icon-cable.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #19bd9a;
    }
}

.footerSection {
    min-height: 200px;
    background-image: url(/images/portfolio-start-bg.png);
    background-size: cover;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.footerSectionDesc {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.25;
}

.footerSectionTeam {
    margin-top: 0;
    background-image: url(/images/team-footer-bg.png);
}


.carousel-control-next-icon {
    background-image: url(/images/chevron-right-solid.svg);

}

.carousel-control-prev-icon {
    background-image: url(/images/chevron-left-solid.svg);

}