.b-aboutUs {
    min-height: 500px;
    background-color: #fff;
    justify-content: center;
    padding: 80px 0;
    margin: 0;

    &__text {
        margin-right: 100px;

        @include media-breakpoint-down(sm) {
            margin: 0 auto;
            margin-bottom: 40px;
        }

    }

    &__img {
        @include media-breakpoint-down(sm) {
            display: block;
            margin: 0 auto;
        }
    }


}