.b-animationBox {
    padding: 0;
    height: 290px;
    width: 200px;
    position: relative;
    perspective: 500px;

    &:not(:last-child) {
        margin-right: 60px;
    }

    &__front {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition-duration: .5s;
        transform: rotateY(0deg);
        transition-timing-function: linear;
        backface-visibility: hidden;
    }

    &:hover &__front {
        transform: rotateY(-180deg);
        visibility: hidden;
        transition-delay: 0s;
    }


    &__back {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 0 0;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
        visibility: hidden;
        backface-visibility: hidden;
        transition-timing-function: linear;
        transition-duration: .5s;
    }

    &:hover &__back {
        transform: rotateY(0deg);
        visibility: visible;
    }


}