.b-contact {
    min-height: 600px;
    background-color: #f3f3f3;
    padding: 80px 0;

    &__wrap {
        margin: 60px 0 0;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            padding: 0 15px;
        }


    }

    &__emailImg {
        background-image: url(../../images/contact-email-bg.png);

    }

    &__officeImg {
        background-image: url(../../images/contact-office-bg.png);
    }

    &__phoneImg {
        background-image: url(../../images/contact-phone-bg.png);
    }

    &__emailImg,
    &__officeImg,
    &__phoneImg {
        background-repeat: no-repeat;
        background-size: cover;
        height: 140px;
    }

    &__imgUp {
        height: 100%;
    }

    &__link {
        color: #fff;
        opacity: 0.7;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: #19bd9a;
            opacity: 0.8;
            text-decoration: none;
        }
    }

    &__textBox {
        height: 120px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__textTitle {
        font-size: 16px;
        color: rgb(70, 70, 70);
        text-transform: uppercase;
        line-height: 1.25;

    }

    &__textSub {
        font-size: 14px;
        color: rgb(129, 134, 142);
        text-transform: uppercase;
        line-height: 1.429;
        margin-bottom: 0;
        text-align: center;

    }

    &__items {
        padding: 0;

        &:not(:last-child) {
            margin-right: 30px;
        }

        @include media-breakpoint-down(sm) {
            &:not(:last-child) {
                margin: 0 0 20px;

            }
        }

    }

}