.b-services {
    padding: 70px 0;
    margin: 0;

    &__asideContent {
        justify-content: flex-end;
        margin: 0;


        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
            justify-content: center;
        }

    }

    &__desc {
        align-self: center;

    }

    &__descTitle {
        font-size: 20px;
        color: rgb(70, 70, 70);
        margin-bottom: 20px;
    }

    &__descText {
        font-size: 16px;
        color: rgb(129, 134, 142);
        line-height: 1.75;
        text-align: justify;
    }
}