.b-team {
    min-height: 770px;
    background-color: #fff;

    &__title {
        padding: 50px 0;
    }

    &__carousel {
        min-height: 430px;
        background-color: rgba(161, 161, 161, 0.5);
    }

    &__fotoNameBox {
        text-align: right;
        border-right: 3px solid #19bd9a;
        padding-right: 15px;
    }

    &__foto {
        max-width: 285px;
        height: 365px;

        @include media-breakpoint-down(sm) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__fotoBox {
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }

    &__carouselItems {
        padding: 60px 160px;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        @include media-breakpoint-down(md) {
            padding: 60px 30px;
            justify-content: space-around;
        }
    }

    &__progressTextBox {
        display: flex;
        justify-content: space-between;
    }

    &__fotoName {
        font-size: 20px;
        color: rgb(70, 70, 70);
    }

    &__fotoProf {
        font-size: 14px;
        font-family: "Source Sans Pro", sans-serif;
        color: #48494a;
        text-transform: uppercase;
    }

    &__fotoDesc {
        font-size: 14px;
        color: rgb(129, 134, 142);
        line-height: 1.786;
        text-align: justify;

    }

    &__progressFirst,
    &__progressSecond,
    &__progressThird {
        height: 5px;
        background-color: #f3f3f3;
    }

    &__progressBar {
        background-color: #19bd9a;
    }

    &__progressText {
        font-size: 16px;
        font-family: "Source Sans Pro", sans-serif;
        color: #48494a;
        text-transform: uppercase;
        line-height: 1.563;

    }


}