.b-reviews {
    min-height: 650px;
    background-color: #f3f3f3;
    padding: 80px 80px 50px;

    @include media-breakpoint-down(sm) {
        padding: 50px 20px;
    }

    &__carousel {
        background-color: #fff;
        margin-top: 30px;
    }

    &__carouselItem {
        margin: 0;
        min-height: 320px;
        padding: 50px 65px;
        justify-content: space-around;

        @include media-breakpoint-down(sm) {
            padding: 50px 20px;
        }
    }

    &__imgBox {
        padding: 0;

        @include media-breakpoint-down(md) {
            margin-bottom: 15px;
            padding-left: 15px;

        }
    }

    &__img {
        width: auto;
        height: 130px;

        @include media-breakpoint-down(sm) {
            width: auto;
            height: 150px;
            object-fit: cover;

        }


    }

    &__reviewText {
        font-size: 16px;
        color: rgb(129, 134, 142);
        line-height: 1.75;
        text-align: justify;
    }

    &__reviewName {
        font-size: 16px;
        color: rgb(25, 189, 154);
        font-weight: bold;
        line-height: 1.25;
        margin-bottom: 5px;
    }

    &__reviewProf {
        font-size: 14px;
        color: rgb(70, 70, 70);
        line-height: 1.429;
    }
}